    @import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro?styles=82961');
    @font-face {
        font-family: neu;
        src: url(https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro);
    }
    
    @font-face {
        font-family: neu;
        font-weight: 100;
        src: url(https://github.com/Swaroopmhaske/Swaroop/blob/main/NeueHaasDisplayLight.ttf);
    }
    
    @font-face {
        font-family: neu;
        font-weight: 200;
        src: url(https://github.com/Swaroopmhaske/Swaroop/blob/main/NeueHaasDisplayRoman.ttf);
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    
    #page1 {
        height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
        background-size: 100% 100%;
        /* background-image: url(img.jpg); */
        background-size: calc();
    }
    
    #nav {
        height: 100px;
        width: 100%;
        display: table-column;
        justify-content: space-between;
        /* Align items at the start (left) */
        align-items: center;
        /* Vertically center align items */
        position: absolute;
        z-index: 99;
        /* Add a background color for visibility */
    }
    
    #page1 img {
        height: 600px;
        width: 600px;
        left: 400px;
        top: 100px;
        justify-content: end;
        align-content: end;
        position: relative;
    }
    
    #nav h1 {
        font-weight: 900;
        color: rgba(255, 0, 123, 1);
        background-color: transparent;
        font-size: 40px;
        margin-left: 5px;
        position: relative;
        /* Add some left margin for space */
    }
    
    #nav2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 70px;
        gap: 9px;
        position: relative;
    }
    
    #nav2 h4 {
        color: rgba(0, 0, 0, 0.783);
        transform: translate(-0%, -200%);
        border: 2px solid black;
        margin: 2px;
        padding: 7px 10px;
        border-radius: 50px;
        font-weight: 800;
        overflow: hidden;
        position: relative;
    }
    
    #nav2 h4::after {
        content: "";
        background-color: black;
        height: 100%;
        width: 100%;
        top: 100%;
        left: 0;
        position: absolute;
        transition: top 0.4s ease;
        border-radius: 50px;
    }
    
    #nav2 h4:hover::after {
        top: 0;
        /* Move up to reveal the background color */
    }
    
    #nav2 H4 a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.833);
        z-index: 9;
        position: relative;
    }
    
    #nav2 H4:hover a {
        color: white;
    }
    
    #center {
        height: 65vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        position: relative;
        bottom: 350px;
        /* Shift content down */
        /* Shift content to the right */
    }
    
    #left h3 {
        width: 25vw;
        font-size: 2.2vw;
        line-height: 2.5vw;
        color: rgba(234, 141, 11, 0.733);
        bottom: 300px;
        position: absolute;
        left: 50px;
        font-family: "Neue Haas Grotesk Display Pro";
    }
    
    #center h1 {
        font-size: 10vw;
        text-align: right;
        line-height: 8vw;
        margin-right: 22px;
        /* Adjust right margin for additional shift */
    }
    
    #center h5 {
        font-size: 10vw;
        line-height: 8vw;
        margin-right: 20px;
        /* Adjust right margin for additional shift */
    }
    
    #right h4 {
        font-size: 10vw;
        line-height: 8vw;
        margin-left: 200px;
        padding: 0;
        /* Adjust right margin for the shift to the right */
        /* Remove left and use margin-right to shift */
    }
    
    #Character img {
        /* Adjust dimensions and positioning */
        width: 100px;
        /* Example width */
        height: 100px;
        /* Adjust height proportionally */
        position: relative;
        top: 200px;
        /* Adjust top position */
        left: 500px;
    }
    /* #page1 video {
        width: 95%;
        height: 95%;
        border-radius: 20px;
        margin-top: -300px;
        margin-left: 40px;
        position: relative;
    } */
    /* #hero-shape {
        position: absolute;
        width: 40vw;
        height: 20vw;
        right: 0;
        top: 80vh;
    } */
    /* #hero-1 {
        background-color: #FE320A;
        height: 100%;
        width: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(10px);
        position: absolute;
    }
    
    #hero-2 {
        background: linear-gradient(#FE320A, #fe3f0a);
        height: 20vw;
        width: 30vw;
        border-radius: 50%;
        position: absolute;
        animation-name: anime2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        filter: blur(25px);
    } */
    /* #hero-3 {
        background: linear-gradient(#FE320A, #fe3f0a);
        height: 20vw;
        position: absolute;
        width: 30vw;
        border-radius: 50%;
        filter: blur(25px);
        animation-name: anime1;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    } */
    
    @keyframes anime1 {
        from {
            transform: translate(55%, -7%);
        }
        to {
            transform: translate(0%, 10%);
        }
    }
    
    @keyframes anime2 {
        from {
            transform: translate(5%, -10%);
        }
        to {
            transform: translate(-20%, 30%);
        }
    }
    
    #page22 {
        /* top: 10vh; */
        height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 0vw 0;
        position: relative;
        padding-bottom: 7vh;
    }
    
    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
        mix-blend-mode: multiply;
        top: 0vh;
        font-weight: 100;
    }
    
    #moving-text::-webkit-scrollbar {
        display: none;
    }
    
    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    #moving-text h1 {
        font-size: 7vw;
        /* background-color: lightblue; */
        display: inline-block;
        font-weight: 100;
    }
    
    #gola {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 0vw 2vw;
        padding-top: 3vw;
    }
    
    @keyframes move {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
    
    #page22-bottom {
        height: 80vh;
        width: 100%;
        top: vh;
        /* padding: 4.5vw; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    #page22-bottom h1 {
        font-size: 4vw;
        width: 60%;
        line-height: 4vw;
    }
    
    #page22-bottom h3 {
        font-size: 2vw;
        width: 100%;
        line-height: 1.5vw;
        color: #ed488a;
    }
    
    #bottom-part2 {
        width: 20%;
        /* background-color: aqua; */
    }
    
    #bottom-part2 img {
        width: 100%;
        border-radius: 15px;
    }
    
    #bottom-part2 p {
        font-weight: 400;
        margin-top: 2vw;
        font-size: 1.5vw;
    }
    
    #page22 #gooey {
        height: 38vw;
        width: 38vw;
        position: relative;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */
        bottom: 40vh;
        left: 1%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes gooey {
        from {
            filter: blur(20px);
            transform: translate(40%, -1%) skew(0);
        }
        to {
            filter: blur(30px);
            transform: translate(-30%, 45%) skew(-12deg);
        }
    }
    
    #page2 {
        min-height: 100vh;
        width: 100%;
        z-index: 10;
        background-color: #EFEAE3;
    }
    
    #scroller {
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        z-index: 10;
    }
    
    #scroller::-webkit-scrollbar {
        display: none;
    }
    
    #scroller-in {
        display: inline-block;
        white-space: nowrap;
        animation-name: scroll;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    #scroller h4 {
        display: inline-block;
        font-size: 120px;
        font-weight: 900;
        font-family: gilroy;
        margin-right: 20px;
        transition: all linear 0.3s;
        color: #000;
        -webkit-text-stroke: 2px #ffffff;
    }
    
    #scroller h4:hover {
        color: #95c11e;
        -webkit-text-stroke: 2px #95c11e;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
    
    #about-us {
        height: 40vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        padding: 0 50px;
        align-items: center;
        position: relative;
        z-index: 10;
        justify-content: space-around;
    }
    
    #about-us img {
        height: 220px;
        width: 220px;
        border-radius: 20px;
        object-fit: cover;
    }
    
    #about-us-in {
        width: 50%;
        text-align: center;
    }
    
    #about-us-in h3 {
        font-size: 54px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    
    #about-us-in p {
        font-size: 20px;
        line-height: 26px;
    }
    
    #cards-container {
        /* background-color: red; */
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        position: relative;
        z-index: 10;
    }
    
    .card {
        height: 80%;
        width: 24%;
        /* background-color: blue; */
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        transition: all ease 0.6s;
    }
    
    #card1 {
        background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    }
    
    #card2 {
        background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    }
    
    #card3 {
        background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    }
    
    .overlay {
        height: 100%;
        width: 100%;
        background-color: #95c11e;
        padding: 30px;
        padding-top: 160px;
        opacity: 0;
        transition: all ease 0.6s;
    }
    
    .overlay h4 {
        color: #000;
        font-size: 40px;
        text-transform: uppercase;
        white-space: nowrap;
        margin-bottom: 20px;
        font-weight: 800;
    }
    
    .overlay p {
        color: #000;
        font-size: 18px;
    }
    
    .card:hover .overlay {
        opacity: 1;
    }
    
    .card:hover {
        transform: rotate3d(-1, 1, 0, 20deg);
    }
    
    #green-div {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: red; */
        background: linear-gradient(to left bottom, rgba(169, 56, 56, 0.605), #b9c783);
    }
    
    #green-div h4,
    h5 {
        width: 100%;
        line-height: 40px;
        color: #000;
        text-align: center;
        font-weight: 800;
        font-size: 27px;
    }
    
    #green-div p {
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1.5px 1px #494948;
    }
    
    #green-div img {
        height: 100%;
        object-fit: cover;
        width: 14%;
        mix-blend-mode: darken;
    }
    
    #page23 {
        height: 100vh;
        width: 100%;
        color: red;
    }
    
    #Stats {
        height: 130vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
    }
    
    #Stats h1 {
        margin-left: 15px;
    }
    
    #Stats h3 {
        font-size: 34px;
        margin-left: 350px;
    }
    
    #Stats h4 {
        font-size: 25px;
        margin-left: 590px;
    }
    
    #How img {
        height: 20vh;
        width: 50%;
        mix-blend-mode: multiply;
        margin-left: 5px;
        object-fit: cover;
        position: rel;
    }
    
    #bar img {
        position: absolute;
        left: 50%;
        top: 20%;
        height: 100vh;
        width: 100vh;
        mix-blend-mode: multiply;
    }
    
    #genreal img {
        height: 50%;
        width: 50%;
        position: relative;
        margin-top: 10%;
        mix-blend-mode: multiply;
        margin-top: -1%;
    }
    
    #msg img {
        position: absolute;
        left: 2%;
        height: 20%;
        margin-top: -2%;
        width: 45%;
        mix-blend-mode: multiply
    }
    
    #page4 {
        height: 70vh;
        width: 100%;
        /* background-color: #EFEAE3; */
        padding: 10vw 2vw;
        background-color: rgb(98, 231, 98);
    }
    
    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        width: 30%;
        border-left: 1px solid #aeadad;
        padding: 0 2vw;
    }
    
    #page5 {
        margin-top: 19.6%;
        height: 80vh;
        width: 100%;
        background-color: #fff;
        margin-bottom: -5%;
    }
    
    #page6 {
        height: 100vh;
        width: 100%;
        background-color: yellow;
    }
    
    #footer {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #000;
        color: #fff;
        z-index: 9;
        bottom: 0;
        display: flex;
        /* align-items: flex-end; */
        justify-content: flex-end;
        flex-direction: column;
        padding: 1vw 3vw;
    }
    
    #footer h1 {
        font-size: 23vw;
    }
    
    #footer-div {
        height: 20vh;
        width: 100%;
        background-color: red;
    }
    
    #footer-bottom {
        border-top: 1px solid #dadada;
        height: 10vh;
        width: 100%;
    }
    
    #full-scr {
        height: 100vh;
        width: 100%;
        background-color: #00000070;
        position: fixed;
        z-index: 99;
        top: -180%;
        transition: all ease 0.5s;
    }
    
    #full-div1 {
        height: 50%;
        width: 100%;
        background-color: #EFEAE3;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #loader {
        height: 100%;
        width: 100%;
        background-color: #000;
        position: fixed;
        z-index: 999;
        top: 0;
        transition: all ease 0.7s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #loader h1 {
        font-size: 4vw;
        color: transparent;
        background: linear-gradient(to right, orange, orangered);
        -webkit-background-clip: text;
        position: absolute;
        opacity: 0;
        animation-name: load;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
    }
    
    #loader h1:nth-child(2) {
        animation-delay: 2s;
    }
    
    #loader h1:nth-child(3) {
        animation-delay: 3s;
    }
    
    @keyframes load {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    #page5 button {
        border: 1px solid rgb(81, 79, 79);
        border-radius: 30px;
        height: 40px;
        width: 250px;
        margin-left: 7%;
        background-color: rgb(248, 246, 246);
        font-size: 20px;
        font-weight: 300px;
    }
    
    #jadu {
        top: -135%;
        height: 100px;
        margin-left: 35.5%;
        position: relative;
        background-color: #fff;
        width: 330px;
        padding: 0.5vw 0.4vw;
        border: 1px solid black;
        border-radius: 10px;
    }
    
    #page5 h1 {}
    
    #page5 h2 {
        top: 15%;
        height: 150px;
        position: relative;
    }
    
    #collage img {
        position: relative;
        top: -300px;
        height: 110vh;
        width: 102%;
        margin-left: -11px;
        opacity: 0;
        /* object-fit: cover; */
    }
    
    #page7 {
        height: 100vh;
        width: 100%;
    }